.calendar fc td {
  border-style: solid;
  border-width: 2px;
  border-color:#c1c1c1;
  border-right: 0;
  border-bottom: 0;
  color:#c1c1c1;
  font-family: 'Times New Roman', Times, serif;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ; */
}

 .calendar fc th {
  color: #c1c1c1;
  border-color: #c1c1c1;
 }

 table {
  margin-bottom: 0
 }

 .calendar fc-button-primary {
  background-color: #8ecccc;
}

.calendar fc-button-primary:hover {
  background-color: #50717b;
}

.calendar fc-toolbar-title {
  color: #c1c1c1;
}

.calendar fc-scrollgrid{
  border-radius: 10px 30px;
  border-width: 2px solid;
  border-color: #c1c1c1;
  background-color: #c1c1c1;
}