.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calendar {
  height: 100vh;
  overflow: hidden;
  text-decoration: none;
}



.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;
  transition: left 0.3s ease;
  padding: 20px;
}

.sidebar.open {
  left: 0;
}

.toggle-sidebar-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.navbarcontainer {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.navbar li {
  margin-right: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

.navbar a:hover {
  background-color: #555;
  border-radius: 5px;
  cursor: pointer;
}


