
.App {
  text-align: center;
  background-color: #252525ea;
  height:100vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
:root {
  --fc-today-bg-color: rgba(79, 40, 255, 0.15);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.fc td {
  border-style: solid;
  border-width: 2px;
  /* border-color:#212121; */
  border-right: 0;
  border-bottom: 0;
  color:#c1c1c1;
  font-family: 'Times New Roman', Times, serif;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ; */
}

 .fc th {
  color: #c1c1c1;
  border-style: solid;
  border-width: 2px;
  border-right: 0;
  /* border-color:#212121; */
 }
 table {
  margin-bottom: 0 !important;
 }

 .fc-scrollgrid{

  border-radius: 30px;
  border: 2px solid #212121 !important;
  /* border-image: repeating-linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89)) 20; */
  /* margin-left: .5vw;
  margin-right: .5vw; */
  background-color: #282828;
  /* background-color: #3a4042; */
}



.fc-button-primary {
  background-color: #8ecccc;
}

.fc-button-primary:hover {
  background-color: #50717b;
}

.fc-toolbar-title {
  color: #c1c1c1 !important;
}

body {
  /* background-image: url('./pexels-francesco-ungaro-998641.jpg'); */
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-repeat: no-repeat;
  background-size: cover;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calendar {

  height:100vh;

  overflow: hidden;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;
  transition: left 0.3s ease;
  padding: 20px;
}

.sidebar.open {
  left: 0;
}

.toggle-sidebar-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.navbarcontainer {
  display: flex;
  justify-content: left;
  align-content: center;
  background-color: #212121;
  padding: 10px 0;
}
.navbar {
  display: flex;
  justify-content: center;
  align-content: center;
  list-style-type: none;
  padding: 0;
}

.navbar li {
  margin-right: 10px;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

.navbar a:hover {
  background-color: #555;
  border-radius: 5px;
  cursor: pointer;
}


